/*自定义bootstrap按钮样式*/
.btn-weijinsuo {
    color: #FFFFFF;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-weijinsuo:hover,
.btn-weijinsuo:focus,
.btn-weijinsuo:active,
.btn-weijinsuo.active,
.open .dropdown-toggle.btn-weijinsuo {
    color: #FFFFFF;
    background-color: #DB3B43;
    border-color: #DB3B43;
}

.btn-weijinsuo:active,
.btn-weijinsuo.active,
.open .dropdown-toggle.btn-weijinsuo {
    background-image: none;
}

.btn-weijinsuo.disabled,
.btn-weijinsuo[disabled],
fieldset[disabled] .btn-weijinsuo,
.btn-weijinsuo.disabled:hover,
.btn-weijinsuo[disabled]:hover,
fieldset[disabled] .btn-weijinsuo:hover,
.btn-weijinsuo.disabled:focus,
.btn-weijinsuo[disabled]:focus,
fieldset[disabled] .btn-weijinsuo:focus,
.btn-weijinsuo.disabled:active,
.btn-weijinsuo[disabled]:active,
fieldset[disabled] .btn-weijinsuo:active,
.btn-weijinsuo.disabled.active,
.btn-weijinsuo[disabled].active,
fieldset[disabled] .btn-weijinsuo.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-weijinsuo .badge {
    color: #E92322;
    background-color: #FFFFFF;
}

.navbar-magic {
    background-color: #fff;
    border-color: #f5f5f5;
    /* height: 50px; */
    margin-bottom: 0;
}
.navbar-magic .navbar-brand {
    color: #777;
    height: 80px;
}
.navbar-magic .navbar-brand:hover,
.navbar-magic .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-magic .navbar-text {
    color: #777;
}
.navbar-magic .navbar-nav > li > a {
    color: #777;
    line-height: 50px;
    font-size: 14px;
}
.navbar-magic .navbar-nav > li > a:hover,
.navbar-magic .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}
.navbar-magic .navbar-nav > .active > a,
.navbar-magic .navbar-nav > .active > a:hover,
.navbar-magic .navbar-nav > .active > a:focus {
    color: #555;
    /* background-color: transparent; */
    border-bottom: 2px solid #e92322;
}
.navbar-magic .navbar-nav > .disabled > a,
.navbar-magic .navbar-nav > .disabled > a:hover,
.navbar-magic .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-magic .navbar-toggle {
    border-color: #ddd;
    margin: 23px;
}
.navbar-magic .navbar-toggle:hover,
.navbar-magic .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-magic .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-magic .navbar-collapse,
.navbar-magic .navbar-form {
    border-color: #e7e7e7;
}
.navbar-magic .navbar-nav > .open > a,
.navbar-magic .navbar-nav > .open > a:hover,
.navbar-magic .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-magic .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-magic .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-magic .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-magic .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-magic .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-magic .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-magic .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-magic .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-magic .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-magic .navbar-link {
    color: #777;
}
.navbar-magic .navbar-link:hover {
    color: #333;
}
.navbar-magic .btn-link {
    color: #777;
}
.navbar-magic .btn-link:hover,
.navbar-magic .btn-link:focus {
    color: #333;
}
.navbar-magic .btn-link[disabled]:hover,
fieldset[disabled] .navbar-magic .btn-link:hover,
.navbar-magic .btn-link[disabled]:focus,
fieldset[disabled] .navbar-magic .btn-link:focus {
    color: #ccc;
}


.panel-magic {
    border-color: #ddd;
    /* background: #ddd; */
    border-radius: 11px;
}
.panel-magic > .panel-heading {
    /* color: #333; */
    /* background-color: #f5f5f5; */
    border-color: #ddd;
    width: 120px;
    float: right;
    padding: 0;
    height: 150px;
    text-align: center;
    /* overflow: hidden; */
}

.panel-magic > .panel-body {
    /* color: #333; */
    /* background-color: #f5f5f5; */
    border-color: #ddd;
    /* float: left; */
    margin-right: 120px;
    height: 150px;
    /* width: 100px; */
    border-right: 1px dashed #c0c0c0;
}
.panel-magic > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-magic > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-magic > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

/* /自定义bootstrap*/
.fl{float: left}
.fr{float: right}
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'magic';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}
.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

[class^="icon-"],
[class*=" icon-"]{
    font-family: magic;
    font-style: normal;
}


/*头部区域*/
.top{
}
.top > .row > div + div {border-left: 1px solid #c0c0c0}
.top > .row > div{line-height: 40px;height: 40px;font-size: 12px;color:#888;}
.top a ,
.nav-weijinsuo a{
    color: #888;
    font-size: 12px;
}

#header a:hover {
    text-decoration: none;
}
.top > .row .showCode:hover >img{
    display: block;
}
.top > .row .showCode{position: relative;display: block}
.top > .row .showCode > img{
    position: absolute;
    top:30px;
    left: 50%;
    margin-left: -60px;
    display: none;
    z-index: 1001;
}
#header .nav-weijinsuo{border-top: 1px solid #c0c0c0;}
#header .icon-icon{
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}
#header .icon-logo{
    font-size: 32px;
    color: #888;
    line-height: 50px;
    vertical-align: middle;
}

/*/头部*/

/*广告轮播*/

.ad-owl  .item > .owl{

    background-position: center center;

}

@media (min-width: 768px) {
    .ad-owl  .item > .owl{
        height: 410px;
    }
    
}
.ad-owl  .item > .owl > img {width: 100%}


/*/广告轮播*/

/*支付保障*/

.icon-uniE907:before {
    content: "\e907";
    font-family: magic;
    font-size: 30px;
    color: #111;
}
.pay-guarantee > .container a{/* display: block; */text-decoration: none;color:#666;}
.pay-guarantee > .container a:hover{text-decoration: none; color:#666;}
.pay-guarantee > .container .row > [class ^= 'col-md-'] {padding-top: 20px;padding-bottom: 20px;}
/*/支付保障*/

.yuyue-words{border-top: 1px solid #c0c0c0}
.icon-uniE905:before {
    content: "\e905";
    font-size: 14px;
}
.yuyue-words > .container p {padding-top: 20px;padding-bottom: 20px;/* line-height: 10px; */font-size: 14px;}


/*产品部分*/
.products{border-top: 1px solid #c0c0c0;    background-color: #f0f0f0;  padding: 40px 0;}
.products .nav-tabs > li > a {
    font-size: 16px;
    color: #555;
}
.products .nav-tabs > li.active > a{
    background-color: transparent;
    border:none;
    border-bottom: 4px solid #E92322;
}
.products .tab-content > .tab-pane{padding: 20px 0;}
.products .tab-content .panel-magic.active{background-color: #e92322;color: #fff;}
.products .tab-content .panel-magic .panel-body h3{padding: 10px 0;font-size: 16px;margin: 0;}
.products .tab-content .panel-magic .panel-body p {margin: 0;}
.clear-both{clear: both;}
.products .tab-content .panel-magic .panel-body::before{
    content:"\e915";
    position: absolute;
    font-size: 56px;
    font-family: magic;
    top: -11px;
    left: 16px;
    color: #e92322;
}
.products .tab-content .panel-magic.active .panel-body::before{color: #fff;}
.products .tab-content .panel-magic .panel-body .ticket {overflow: hidden}
.products .tab-content .panel-magic .panel-heading{
    position: relative;
    text-align: center;
}
.products .tab-content .panel-magic .panel-heading .content sub{font-size: 14px;}
.products .tab-content .panel-magic .panel-heading .content{padding-top: 50px }
.products .tab-content .panel-magic .panel-heading .content p{font-size: 32px;/* padding-top: 50px */margin: 0;}
.products .tab-content .panel-magic .panel-heading .tooltips{
    position: absolute;
    top:20px;
    text-align: center;
    width: 100%;
}
.products .tab-content .panel-magic .panel-heading  i{
    font-size: 12px;
    width: 18px;
    height: 18px;
    border:1px solid #e92322;
    font-style: normal;
    color: #e92322;
    position: absolute;
    top:20px;
}
.products .tab-content .panel-magic .panel-heading  i.shanghai{left: 20px}
.products .tab-content .panel-magic .panel-heading  i.shanghai{border:1px solid #399;color: #399;}
.products .tab-content .panel-magic .panel-heading::before,
.products .tab-content .panel-magic .panel-heading::after{
    content:'';
    background-color: #f0f0f0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
}
.products .tab-content .panel-magic .panel-heading::before{
    top: -8px;
    left: -8px;
    box-shadow: 0px -3px 1px #ccc inset;
}
.products .tab-content .panel-magic .panel-heading::after{
    /*botttom: 3px;*/
    left: -8px;
    bottom: -8px;
    box-shadow: 0px 3px 1px #ccc inset;
}

/*/产品部分*/